.content__article{
  margin: 5rem 10rem 0rem 10rem ;
  font-family: 'Crimson Text', serif;
  h2{
    font-size: 3rem;
    font-weight: bold;
  }
  .lead{
    margin-top: 3rem;
    font-size: 1.5rem;
  }
  .container__img__small{
    height: auto;
    width: 25rem;
    &:hover{
      transform: scale(1.1);
      transition: 0.3s;
    }
  }
  .container__img__portait{
    height: 40rem;
    width: auto;
    &:hover{
      transform: scale(1.1);
      transition: 0.7s;
    }
  }

}
@media (max-width: 640px) {
  .content__article{
    margin: 0;
  }
}
