<div class="content__article row fadeInLeft animated delay-1s">
  <div class="text-center col-12 col-xl-6 my-3">
    <img  class="container__img__portait" src="../assets/img/article-portrait1.jpg"/>
    <p class="lead">Pure de Calabaza con queso fete y finas hierbas</p>
    <small class="display-5">Restaurante Arzua</small>
  </div>
  <div class="text-center col-12 col-xl-6 my-3">
    <div class="">
      <h2 class="my-3">Sabores ancestrales y sensaciones futuras</h2>
      <p class="lead mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <img class="container__img__small" src="../assets/img/article-landscape1.jpg"/>
  </div>
</div>

<div class="content__article row fadeInRight animated delay-1s">
  <div class="text-center col-12 col-xl-6 my-3">
    <div class="">
      <h2 class="">El mejor talento se concentra en un día muy especial</h2>
      <p class="lead mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <img class="container__img__small" src="../assets/img/article-landscape2.jpg"/>
  </div>
  <div class="text-center col-12 col-xl-6 my-3">
    <img class="container__img__portait mt-3" src="../assets/img/article-portrait2.jpg"/>
    <p class="lead">Lomo de ternera breceado con salsa de frutas rojos</p>
    <small class="display-5">Restaurante Cervantes</small>
  </div>
</div>

<div class="content__article row fadeInLeft animated delay-1s ">
  <div class="text-center col-12 col-xl-6 my-3">
    <img class="container__img__portait" src="../assets/img/article-portrait3.jpg"/>
    <p class="lead">Patata gallega a la delicada fritura</p>
    <small class="display-5">Restaurante Meson de Gonzalo</small>
  </div>
  <div class="text-center col-12 col-xl-6 my-3">
    <div class="">
      <h2 class="my-3">La creativida infunde inspiración</h2>
      <p class="lead mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <img class="container__img__small" src="../assets/img/article-landscape3.jpg"/>
  </div>
</div>

