<div class="row list__container my-5 mx-2">
  <div class="col-2">
    <img src="../../assets/img/brand1.png">
  </div>
  <div class="col-2">
    <img src="../../assets/img/brand2.png">
  </div>
  <div class="col-2">
    <img src="../../assets/img/brand3.png">
  </div>
  <div class="col-2">
    <img src="../../assets/img/brand4.png">
  </div>
  <div class="col-2">
    <img src="../../assets/img/brand6.png">
  </div>
  <div class="col-2">
    <img src="../../assets/img/brand7.png">
  </div>
</div>

