<div class="container">
  <div class="text-center mt-5">
    <h2>Los mejores Restaurantes</h2>
  </div>

  <div class="row list__container my-5 mx-5">
    <div class="col-12 col-md-4">
      <img src="../../assets/img/list-winer1.jpg" alt="">
    </div>
    <div class="col-12 col-md-6 my-3">
      <h3><span class="list__number">01/ </span>Meson de Gonzalo</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="col-12 col-md-2 text-center d-flex justify-content-center">
      <button>Leer más</button>
    </div>
  </div>

  <div class="row list__container my-5 mx-5">
    <div class="col-12 col-md-4">
      <img src="../../assets/img/list-winer2.jpg" alt="">
    </div>
    <div class="col-12 col-md-6 my-3">
      <h3><span class="list__number">02/ </span>La hoja 21</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Sed do eiusmod tempor incididun.</p>
    </div>
    <div class="col-12 col-md-2 text-center d-flex justify-content-center">
      <button>Leer más</button>
    </div>
  </div>

  <div class="row list__container my-5 mx-5">
    <div class="col-12 col-md-4">
      <img src="../../assets/img/list-winer3.jpg" alt="">
    </div>
    <div class="col-12 col-md-6 my-3">
      <h3><span class="list__number">03/ </span>Victor Gutierrez</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Sed do eiusmod tempor.</p>
    </div>
    <div class="col-12 col-md-2 text-center d-flex justify-content-center">
      <button>Leer más</button>
    </div>
  </div>

</div>
