<div>
  <h2 class="">Los mejores cocteles y Recetas</h2>
</div>

<div class="row d-flex justify-content-around">
  <div class="text-center gallery__img col-12 col-sm-6 col-md-4 px-3 py-3">
    <div class="gallery__img__container">
      <img src="../assets/img/drink1.jpg"/>
    </div>
    <div class="gallery__black">
      <h3 class="pt-3 holi text-white">OLD FASHION</h3>
      <p class="lead text-white">The doctor</p>
    </div>
  </div>
  <div class="text-center gallery__img col-12 col-sm-6 col-md-4 px-3 py-3">
    <div class="gallery__img__container">
      <img src="../assets/img/drink2.jpg"/>
    </div>
    <div class="gallery__black">
      <h3 class="pt-3 holi text-white">SIDECAR</h3>
      <p class="lead text-white">Gran Hotel</p>
    </div>
  </div>
  <div class="text-center gallery__img col-12 col-sm-6 col-md-4 px-3 py-3">
    <div class="gallery__img__container">
      <img src="../assets/img/drink3.jpg"/>
    </div>
    <div class="gallery__black">
      <h3 class="pt-3 holi text-white">JUGO ENERGETICO</h3>
      <p class="lead text-white">Patio chico</p>
    </div>
  </div>
  <div class="text-center gallery__img col-12 col-sm-6 col-md-4 px-3 py-3">
    <div class="gallery__img__container">
      <img src="../assets/img/drink4.jpg"/>
    </div>
    <div class="gallery__black">
      <h3 class="pt-3 holi text-white">CERVEZAS ARTESANAS</h3>
      <p class="lead text-white">Irish Rober</p>
    </div>
  </div>
  <div class="text-center gallery__img col-12 col-sm-6 col-md-4 px-3 py-3">
    <div class="gallery__img__container">
      <img src="../assets/img/drink5.jpg"/>
    </div>
    <div class="gallery__black">
      <h3 class="pt-3 holi text-white">STRAWBERRY SMOTHIE</h3>
      <p class="lead text-white">El musical</p>
    </div>
  </div>
  <div class="text-center gallery__img col-12 col-sm-6 col-md-4 px-3 py-3">
    <div class="gallery__img__container">
      <img src="../assets/img/drink6.jpg"/>
    </div>
    <div class="gallery__black">
      <h3 class="pt-3 holi text-white">LOCURA HELADA</h3>
      <p class="lead text-white">Capitan Hadok</p>
    </div>
  </div>
</div>
