<ngb-carousel >
  <ng-template ngbSlide>
    <img class="hero__img" src="../assets/img/hero1-min.jpg"/>
   <div class="hero__title">
  <div class="carousel-caption">
    <h3 class="fadeInDown animated delay-2s">Feria Gastrómica</h3>
    <p class="fadeInDown animated delay-3s">Todo lo mejor de la gatronomía Castellano-Leonesa reunida en un evento inigualable</p>
    <button class="hero__button fadeInDown animated delay-5s">Programa de Fiestas</button>
  </div>
</div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="hero__img" src="../assets/img/hero2-min.jpg"/>
   <div class="hero__title">
  <div class="carousel-caption">
    <h3 class="fadeInDown animated delay-2s">Feria Gastrómica</h3>
    <p class="fadeInDown animated delay-3s">Todo lo mejor de la gatronomía Castellano-Leonesa reunida en un evento inigualable</p>
    <button class="hero__button fadeInDown animated delay-5s">Programa de Fiestas</button>
  </div>
</div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="hero__img" src="../assets/img/hero3-min.jpg"/>
   <div class="hero__title">
  <div class="carousel-caption">
    <h3 class="fadeInDown animated delay-2s">Feria Gastrómica</h3>
    <p class="fadeInDown animated delay-3s">Todo lo mejor de la gatronomía Castellano-Leonesa reunida en un evento inigualable</p>
    <button class="hero__button fadeInDown animated delay-5s">Programa de Fiestas</button>
  </div>
</div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="hero__img" src="../assets/img/hero4-min.jpg"/>
   <div class="hero__title">
  <div class="carousel-caption">
    <h3 class="fadeInDown animated delay-2s">Feria Gastrómica</h3>
    <p class="fadeInDown animated delay-3s">Todo lo mejor de la gatronomía Castellano-Leonesa reunida en un evento inigualable</p>
    <button class="hero__button"fadeInDown animated delay-5s>Programa de Fiestas</button>
  </div>
</div>
  </ng-template>
</ngb-carousel>
